[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw
[submodule "libraries/freetype"]
	path = libraries/freetype
	url = https://github.com/cfnptr/freetype
[submodule "libraries/cmmt"]
	path = libraries/cmmt
	url = https://github.com/cfnptr/cmmt
[submodule "libraries/VulkanMemoryAllocator"]
	path = libraries/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "libraries/glad"]
	path = libraries/glad
	url = https://github.com/cfnptr/glad
[submodule "libraries/stb"]
	path = libraries/stb
	url = https://github.com/nothings/stb
[submodule "libraries/mpmt"]
	path = libraries/mpmt
	url = https://github.com/cfnptr/mpmt
